body {
	color: white;
	background-color: black;
}

content {
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 320px;
}

.display {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-self: flex-start;
	position: fixed;
	left: 12px;
}

#sum, #result {
	width: 97.4%;
	height: 45px;
	margin-top: 5px;
	font-size: 100;
}

.buttons {
	width: 100px;
	height: 100px;
	font-size: xx-large;
	background-color: #7DF9FF;
	margin: 5px;
	border: 3px solid black;
	outline: none;

}

.buttons:hover {
	background-color: white;
	box-shadow: 0px 0px 15px 4px #7DF9FF;
}

#flex-main {
	display: flex;
    align-items: flex-end;
}

#flex {
	display: flex;
	width: 340px;
	justify-content: space-around;
	flex-wrap: wrap;
}

#flex1 {
	display: flex;
	flex-wrap: wrap-reverse;
}

#flex1-2 {
	display: flex;
	flex-wrap: wrap;
}

#flex2 {
	display: flex;
	flex-wrap: wrap;
	width: 140px;
}